btrack>=0.4.6
coverage>=7.3.2
gitpython>=3.1.40
jupyterlab>4.0.11
matplotlib>=3.3.0,<=3.6.3
napari>=0.4.18
omnipose==0.4.4
opencv-python>=4.8.1
pandas>=2.0.2
psutil>=5.9.5
#PySimpleGUI==4.60.4
pytest>=7.4.3
scikit-image>=0.19.3,<=0.20.0
stardist==0.8.5
tensorflow==2.13.0
tqdm>=4.65.0

# matplotlib==3.6.3
# napari==0.4.18
# numpy==1.26.3
# opencv-python
# pandas>=1.5.1
# Pillow>=9.3.0
# psutil==5.9.0
# PySimpleGUI>=4.60.4
# PyYAML>=6.0
# scikit-image==0.19.3
# tqdm>=4.64.0
# gitpython
# btrack==0.6.4
# scikit-learn==1.4.0
# numba
# pytest
# coverage
# stardist
