matplotlib==3.6.3
napari==0.4.16
numpy==1.23.4
pandas>=1.5.1
Pillow>=9.3.0
psutil==5.9.0
PySimpleGUI>=4.60.4
PyYAML>=6.0
scikit-image>=0.19.3
tqdm>=4.64.0
gitpython
btrack==0.4.6
scikit-learn
pytest
coverage
